.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.inline-flex {
    display: inline-flex;
}

.direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.content-start {
    align-content: start
}

.content-around {
    align-content: space-around;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.self-end {
    align-self: end;
}

.items-stretch {
    align-items: stretch;
}

